.home-main{
    background: url("../Images/man_with_computer.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.main-content{
    color: white;
    max-width: 80%;
    margin: auto;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.main-content .text{
    max-width: 70%;
}
.main-content .text h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.main-content .text p{
    color: rgb(228, 211, 211);
    margin-bottom: 40px;

}

.gradient-btn{
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.gradient-btn::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(#d89607 ,#e2de06 );
    width: 0%;
    height: 100%;
    z-index:-1 ;
    transition: .7s;
    overflow: hidden;
    border-radius: 10px;
}
.gradient-btn:hover::before{
left: 0;
width: 100%;
}
.imj{
    position: relative;
    width: 100px;

    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes float{
    0%{
        transform: translateY(-16px);
    }
    50%{
        transform: translateY(16px);
    }
    100%{
        transform: translateY(-16px);
    }
    }

    .about{
        max-width: 75%;
        margin: auto;
        min-height: 100vh;
    }
    .about h1{
        text-align: center;
        font-size: 3rem;
        margin: 10px 0px;
    }
    .about-sub{
        display: flex;
        gap: 25px;
    }
    .about .about-sub img{
        width: 450px;
        height: 200px;
        position: relative;
       
    }
    
   
    .about .about-sub .sub-sub-about p{
        font-size: 15px;
        text-align: left;
        margin-bottom: 20px;
    }
    .about .about-sub .sub-sub-about .btn{
        background: linear-gradient(to right, #4162cf 0%, #0072ff, #4162cf);
        padding: 10px 20px;
        border-radius: 10px ;
        color: #fff;
        transition: .2s linear;
        transform: scale(1);
        border: none;
    }
    .about .about-sub .sub-sub-about .btn:hover{
        transform: scale(1.1);
    }

    .about-companies{
        text-align: center;
        background-color: rgb(214, 208, 208);
        margin-top: 50px;
        border-radius: 10px;
        padding: 10px 30px;
    }

    .about-companies h1{
        font-size: 28px;
        font-weight: bold;
    }
    .company-logos{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 80px;
        font-size: 32px;
    }
    .company-logos i{
        transition: .3s;
    }
    .company-logos i:hover{
        color: #7c2121;
    }
     .subscribe{
        text-align: center;
        
     }
     .subscribe-box{
        padding: 5px;
     }
     .subscribe-box input{
        padding: 8px 20px;
        width: 300px;
     }
     .subscribe-box button{
        padding: 8px 20px;
        border: none;
        background: red;
        color: #fff;
     }

    @media screen and  (max-width:769px){

    .home-main{
        text-align: center;
    }


    .main-content{
            flex-direction: column;
            margin: auto;
            justify-content: center;
    }
    .main-content h1{
        font-size:2rem ;
    }
    .main-content p {
        margin: -9px;
        font-size: 14px;
    }
    .gradient-btn{
        font-size: 18px;
        padding: 15px 20px;
    }
    .imj{
        width:80px;
    }
}

@media screen and (max-width:769px) {
    .about{
        text-align: center;
    }
    .about-sub{
        flex-direction: column;
        align-items: center;
    }
    .about-sub:nth-child(3){
        flex-direction: column-reverse;
    }
    .about-sub:nth-child(3){
        margin-top: 35px;
    }

    .about-companies h1{
        font-size: 24px;
    }
    .about .about-sub img{
        width: 250px;
    }
    .company-logos {
        justify-content: space-between;
        gap: 10px;
    }
    .company-logos i{
        font-size: 20px;
    }
    .subscribe{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .subscribe-box input{
        width: 200px;
    }
    .subscribe button{
        padding: 4px 10px;
    }

}